# {
  box-sizing: border-box;
}

#body {
}

#parent {
  white-space: nowrap;
  background-color: #5656d8
}

#child {
  display: inline-block;
}

#p {
  background-color: #bebeff;
  margin: 0;
}

#header {
  background-color: #bebeff;
  text-align: center;
}

#sub {
  text-align: center;
  margin: 0;
}
