# {
  box-sizing: border-box;
}

#body {
}

#parent {
  white-space: nowrap;
  background-color: #5656d8
}

#child {
  display: inline-block;
}

#p {
  background-color: blue;
}

#sub {
  text-align: center;
}
