# {
  box-sizing: border-box;
}

#body {
  background-color: grey;
}

#parent {
  white-space: nowrap;
  background-color: #5656d8
}

#child {
  display: inline-block;
}

#p1 {
  background-color:blue;
}
